<html>
	<head>
	<title>Dream Car Dealership</title>		
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
	<center><h1>Welcome to Dream Car Dealership!</h1></center>

	<p>Assumptions: </p>
		<ul>
			<li>Assume the database queries only available stock to display.</li>
			<li>Assume only an admin has access to this web app.</li>	
		</ul>
		<form method="post" action="/" class="form-group">
		<div class="form-group">
			<label for="sel1">Get number of:</label>
  				<select class='form-control' id='sel1' name='selected_table'>
    				<% table_info['tables'].forEach(function (table) { %>
      				<option value='<%= table %>'><%= table %></option>
    				<% }) %>
  				</select>
  				<br>
  			<input class="btn btn-info" type="submit" name="query_type" value="Get Statistics"></input>
  		</div>
  		<div class="form-group">
  			<label for="sel2">Delete all cars of make:</label>
  			<select class="form-control" id='sel2' name='selected_make'>
    				<% table_info['cars'].make.forEach(function (table) { %>
      				<option value='<%= table %>'><%= table %></option>
    				<% }) %>
  			</select>
  			<label for="sel3">manufactured before the year:</label>
  			<select class="form-control" id='sel3' name='selected_year'>
    				<% table_info['cars'].year.forEach(function (table) { %>
      				<option value='<%= table %>'><%= table %></option>
    				<% }) %>
  			</select>
  			<label for="sel4">containing the option:</label>
  			<select class="form-control" id='sel4' name='selected_option'>
    				<% table_info['options'].optiontype.forEach(function (table) { %>
      				<option value='<%= table %>'><%= table %></option>
    				<% }) %>
				</select>
  			<label for="sel5">and maintained by the mechanic:</label>
  			 <select class="form-control" id='sel5' name='selected_mechanic'>
    				<% table_info['mechanics'].employeeid.forEach(function (table, i) { %>
      				<option value='<%= table %>'>Mechanic - <%= table_info['mechanics'].employeename[i] %></option>
    				<% }) %>
					</select>
  			 <br>
  			<input class="btn btn-info" type="submit" name="query_type" value="Get Special Cars">
				<label> Special cars VIN : <%= table_info.special_cars.join(",") %></label>
				<% table_info.special_cars = []; %>
  		</div>
  		<div class="form-group col">
  			<label>Open a new Branch Office with a new Manager :</label><br>
				<div style="float:left;">
				<% table_info.errors_bo.forEach(function(val, i) { %>
				<li style="color:red;"><%= table_info.errors_bo[i] %></li>
				<% }) %>
				<% table_info.errors_bo= []; %>
				<label>Branch Office :</label><br>
				  Branch ID: <input type="text" name="bo_branchid"><br>
					Street Address: <input type="text" name="bo_streetaddress"><br>
					City: <input type="text" name="bo_city"><br>
					Province: <input type="text" name="bo_province"><br>
				</div>
				<div style="padding-left:50%;">
				<% table_info.errors_e.forEach(function(val, i) { %>
				<li style="color:red;"><%= table_info.errors_e[i] %></li>
				<% }) %>
				<% table_info.errors_e= []; %>
				<label>Manager :</label><br>	
				  Employee ID: <input type="text" name="e_employeeid"><br>
					Name: <input type="text" name="e_name"><br>
					Salary: <input type="text" name="e_salary"><br>
					Street Address: <input type="text" name="e_streetaddress"><br>
					City: <input type="text" name="e_city"><br>
					Province: <input type="text" name="e_province"><br>
				</div>
  			<input class="btn btn-info" type="submit" name="query_type" value="Open New Branch Office With Manager">
				<br>
				<label style="color:green;"> <%= table_info.success_insert.join(",")  %></label/>
				<% table_info.success_insert= []; %>
  		</div>
  		<div class="form-group">
				<label> Increase the salary of : </label><br>
				<% table_info.errors_amt.forEach(function(val, i) { %>
				<li style="color:red;"><%= table_info.errors_amt[i] %></li>
				<% }) %>
				<% table_info.errors_amt= []; %>
  			<select class="form-control" id='sel4' name='selected_employee'>
    				<% table_info['employees'].employeeid.forEach(function (table, i) { %>
      				<option value='<%= table %>'><%= table_info.employees.name[i] +" (ID :"+ table %>)</option>
    				<% }) %>
				</select>
				<label> By an amount of : </label>
				<input type="text" name="increase_amt">$<br>
  			<input class="btn btn-info" type="submit" name="query_type" value="Make An Increase">
  		</div>
		</form>
	</body>
</html>
