
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<table class="table table-hover" border="1">
<tr>
<th>transactionid</th>
<th>paymenttype</th>
<th>time</th>
<th>accountid</th>
<th>amount</th>
<th>contractid</th>
</tr>
<% table_info.transactions.transactionid.forEach(function(val,i) { %>
<tr>
<td><%= table_info['transactions'].transactionid[i] %></td>
<td><%= table_info['transactions'].paymenttype[i] %></td>
<td><%= table_info['transactions'].time[i] %></td>
<td><%= table_info['transactions'].accountid[i] %></td>
<td><%= table_info['transactions'].amount[i] %></td>
<td><%= table_info['transactions'].contractid[i] %></td>
</tr>
<% }) %>
</table>

